---
name: Greetings

on: [pull_request_target, issues]

permissions: read-all

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/first-interaction@v3
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          issue_message: "Message that will be displayed on users' first issue"
          pr_message: "Message that will be displayed on users' first pull request"
